accounts-daemon.service
acpid.service
alsa-restore.service
alsa-state.service
alsa-utils.service
anacron-resume.service
anacron.service
apport-forward@.service
apt-daily.service
atd.service
autovt@.service
avahi-daemon.service
bind9-pkcs11.service
bind9-resolvconf.service
bind9.service
bluetooth.service
bootlogd.service
bootlogs.service
bootmisc.service
brltty.service
brltty-udev.service
cgmanager.service
cgproxy.service
cgroup-lite.service
checkfs.service
checkroot-bootclean.service
checkroot.service
colord.service
console-getty.service
console-kit-daemon.service
console-kit-log-system-restart.service
console-kit-log-system-start.service
console-kit-log-system-stop.service
console-setup.service
console-shell.service
container-getty@.service
cron.service
cryptdisks-early.service
cryptdisks.service
cups-browsed.service
cups.service
dbus-org.freedesktop.hostname1.service
dbus-org.freedesktop.locale1.service
dbus-org.freedesktop.login1.service
dbus-org.freedesktop.network1.service
dbus-org.freedesktop.resolve1.service
dbus-org.freedesktop.timedate1.service
dbus.service
debug-shell.service
dns-clean.service
docker.service
emergency.service
epmd.service
failsafe-x.service
friendly-recovery.service
fuse.service
fwupdate-cleanup.service
fwupd-offline-update.service
fwupd.service
getty@.service
getty-static.service
gpu-manager.service
halt.service
hostname.service
hwclock.service
ifup@.service
iio-sensor-proxy.service
initrd-cleanup.service
initrd-parse-etc.service
initrd-switch-root.service
initrd-udevadm-cleanup-db.service
kerneloops.service
keyboard-setup.service
killprocs.service
kmod.service
kmod-static-nodes.service
libvirt-bin.service
libvirt-guests.service
lightdm.service
lm-sensors.service
mcollective.service
ModemManager.service
module-init-tools.service
mongod.service
motd.service
mountall-bootclean.service
mountall.service
mountdevsubfs.service
mountkernfs.service
mountnfs-bootclean.service
mountnfs.service
mysql.service
networking.service
NetworkManager-dispatcher.service
network-manager.service
NetworkManager.service
NetworkManager-wait-online.service
nginx.service
php7.0-fpm.service
plymouth-halt.service
plymouth-kexec.service
plymouth-log.service
plymouth-poweroff.service
plymouth-quit.service
plymouth-quit-wait.service
plymouth-read-write.service
plymouth-reboot.service
plymouth.service
plymouth-start.service
plymouth-switch-root.service
polkitd.service
postgresql.service
postgresql@.service
pppd-dns.service
procps.service
puppetserver.service
puppet.service
pxp-agent.service
quotaon.service
rabbitmq-server.service
rc-local.service
rc.local.service
rc.service
rcS.service
reboot.service
rescue.service
resolvconf.service
rmnologin.service
rsync.service
rsyslog.service
rtkit-daemon.service
salt-api.service
salt-master.service
salt-minion.service
salt-syndic.service
saned.service
saned@.service
sendsigs.service
serial-getty@.service
setvtrgb.service
sigpwr-container-shutdown.service
single.service
snapd.refresh.service
snapd.service
ssh.service
ssh@.service
stop-bootlogd.service
stop-bootlogd-single.service
thermald.service
udev-configure-printer@.service
udev.service
udisks2.service
ufw.service
umountfs.service
umountnfs.service
umountroot.service
unattended-upgrades.service
upower.service
urandom.service
ureadahead.service
ureadahead-stop.service
usb_modeswitch@.service
usbmuxd.service
user@.service
uuidd.service
vboxweb.service
virtlockd.service
virtlogd.service
wacom-inputattach@.service
whoopsie.service
wpa_supplicant.service
x11-common.service
zabbix-agent.service
zabbix-server.service
